input, html, textarea {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    color: #303030;
    font-size: 1rem;
}

div {
    max-width: 100%;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

h1, h2, h3 {
    font-family: 'Lora', serif;
    color: darkgray;
    font-size: 2rem;
    margin: 0.5em;
}

h1 {
    font-size: 2.5rem;
    color: #999b83;
}

h2 {
    color: #ddb7ab;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;    
}

#sidebar {
    width: 30%;
    background-color: #f4eeed;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    overflow: auto;
    display: flex;
    padding: 2em 0;
    position: fixed
}

#navicons, #projectnavicons{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navtext, #projectnavtext {
    padding: 0 2em;
}

#navtext img {
    height: 100px;
    border-radius: 30%;
}

#navicons img, #projectnavicons img {
    display: flex;
    height: 20px;
    width: auto;
    padding: 0.5em;
}

#main-content, #project-content {
    margin-left: 30%;
    width: calc(100% - 30%); 
    background-color: white;
    scroll-behavior: smooth;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    align-content: center;
    padding: 1em;
}

#backtotop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 900;
    height: 50px;
    width: auto;
}

#work {
    padding: 1em 10%;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.projectoutline {
    padding: 1em;
    background-color: #ddb7ab;
    margin-top: 1em;
    border-radius: 30px;
}

.projectoutline a {
    font-weight: normal;
}

.projectoutline h2 {
    color: white;
}

a {
    color: #303030;
    text-transform: uppercase;
    font-weight: 600;
}

.project {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    max-height: 100%;
    border-radius: 30px;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.project a img {
    border-radius: 30px;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.comingsoon {
    background-color: transparent;
}

#form {
    max-width: 100%;
    height: auto;
    padding: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-control, textarea, .button {
    width: 90%;
    margin: 0.2rem;
    border: 0;
    background-color: #f4eeed;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

label {
    display: block;
    text-align: left;
    margin: 0.4rem 5%;
    width: 90%;
}

.button {
    width: 30%;
    font-weight: bold;
    color: white;
    background-color: #999b83;
    font-family: 'Lato';
}

.projecttitle {
    padding: 0.5em;
    back
}
/*For mobile screens*/
@media only screen and (max-width: 600px) {
    body {
        flex-direction: column;
        width: 100%;
    }
    
    #sidebar {
        max-width: 100%;
        width: 100%;
        display: block;
        height: fit-content;
        align-items: center;
        justify-content: center;
        position: fixed;
        padding: 10px;
    }

    div #navtext {
        max-width: 100%;
        display: inline-flex;
        align-items: center;
    }
    
    #navtext img {
        height: 40px;
        padding: 10px;
    }

    #navtext p, #projectnavtext p {
        display: none;
    }

    #navcontent {
        display: flex;
        justify-content: center;
    }

    #navlinks,  #projectnavlinks {
        display: flex;
        justify-content: center;
    }

    #navlinks p,  #projectnavlinks p {
        padding: 5px;
        margin: 0;
    }

    #navicons img {
        height: 15px;
    }

    #main-content {
        margin-top: 147px;
        justify-content: center;
        width: 100%;
        margin-left: 0;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 12px;
    }
    
    html {
        font-size: 12px;
    }

    .projectoutline {
        display: flex;
        margin-top: 1em;
    }
    
    .projectoutline h2 {
        display: none;
    }

    .projectoutline p {
        padding: 10px;
        margin: 0;
    }

    .projectoutline a {
        color: white;
    }

    .projectoutline {
        border-radius: 0;
        max-width: 100%;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        overflow-x: scroll;
    }

    #projectnavtext, #projectnavicons {
        display: none;
    }
}